/* GENERAL */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icons24-sprite, .icons24-leaf, .icons24-pencil-ruler, .icons24-question, h2:before {
  background: url('/icons24-s3825a9b3c4.png') no-repeat;
}

.icons24-leaf {
  background-position: 0 -24px;
}

.icons24-pencil-ruler {
  background-position: 0 0;
}

.icons24-question {
  background-position: 0 -48px;
}

body {
  font-family: "Alegreya", Georgia, serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: #6e0018;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* HEADER */
header {
  background: #ff6e8e;
  color: white;
  padding: 18px 0;
  text-align: center;
}

h1 {
  font-size: 42px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 8px;
}

.nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 8px;
}
.nav li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.nav li:hover {
  color: white;
}
.nav li:before {
  content: "✿ ";
}

.me img {
  display: block;
  border-bottom: 1px solid #ddd;
}

/* SECTIONS */
section {
  padding: 25px 0;
  border-top: 3px solid #f7f7f7;
  border-bottom: 1px solid #ccc;
  overflow: auto;
  text-align: center;
}

h2 {
  color: rgba(110, 0, 24, 0.5);
  text-align: center;
  font-size: 28px;
  font-style: italic;
  line-height: 1;
  font-weight: bold;
  /*letter-spacing: -1px;*/
  margin-bottom: .8em;
}
h2:before {
  background-position: 0 -24px;
}

.readmore {
  padding-top: 12px;
}
.readmore a {
  border: 1px solid #a64b8c;
  opacity: .7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height: 1;
  padding: 4px 10px;
  color: #a64b8c;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  transition: all 200ms ease-in;
}
.readmore:hover {
  color: white;
  opacity: 1;
}

/* FAMILY */
.family ul {
  overflow: auto;
  margin-bottom: 10px;
}

.family li {
  width: 30%;
  margin-right: 5%;
  float: left;
  text-align: center;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 1;
}
.family li:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.family li:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
.family li img {
  border-radius: 12px 12px 0 0;
  margin-bottom: 8px;
}
.family li b {
  display: block;
  font-weight: bold;
}
.family li i {
  font-style: italic;
  color: #666;
}

/* TSL */
.tsl {
  text-align: center;
}
.tsl img {
  width: 100px;
}

/* CONTACT */
.contact textarea {
  width: 300px;
  height: 100px;
  border: 1px solid #999;
  margin: 0;
}

.contact button {
  font-size: 20px;
  border: #f7f7f7;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 16px;
  margin: 0;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }

  header {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 20px;
    border-radius: 10px;
    opacity: .9;
  }

  header .nav li {
    display: block;
  }

  .puzzling img {
    width: 50%;
  }
}
@media screen and (min-width: 650px) {
  h2 {
    text-align: left;
    float: left;
    width: 25%;
  }

  .contact textarea {
    width: 600px;
  }
}
